<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite1" verbose="1" parallel="tests">
    <test name="Chrome Regression" parallel="methods">
        <parameter name="browser" value="CHROME"></parameter>
        <classes>
            <class name="tests.AmazonTest"/>
        </classes>
    </test>
    <test name="Firefox Regression"  parallel="methods">
        <parameter name="browser" value="FIREFOX"></parameter>
        <classes>
            <class name="tests.AmazonTest"/>
        </classes>
    </test>
</suite>